.main-container{
    height: 76.5vh;
    background:green;
    display: flex;
}
.list-container{
    flex: 1 0 45%;
    display: flex;
}

.form-container{
    background: #e5efc1;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex: 0 0 55%;
}

.item-list,
.packed-items_container{
    margin: 20px;
    width: calc(50% - 40px);
}

.form-info{
    flex: 1 2 75%;
    padding-right: 20px;
    padding-top: 100px;
}

form{
    display: flex;
    flex-direction: column;
    flex:0 1 25%;
    margin: 20px;
    padding-top: 100px;
}

.label-checkbox{
    display: none;
    margin: 10px;
}

.form-p{
    font-size: 1.6rem;
    font-family: $primaryFont;
}

#item{
    margin: 20px 0px;
    padding: 10px 30px;
}

input::placeholder{
    text-align: center;
    font-size: 1.9rem;
    font-family: $primaryFont;
}


#submit{
    padding: 8px;
    font-size: 1.2rem;
    background: #39aea9;
    border: none;
    text-transform: uppercase;
}