.main-container{
    // height: 72vh;
    background:#5b5151;
    display: flex;
    flex: 2 0 100%;
}
.list-container{
    flex: 1 0 50%;
    display: flex;
}

.form-container{
    background: #e5efc1;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex: 0 0 50%;
}

.item-list,
.packed-items_container{
    margin: 20px;
    width: calc(50% - 40px);
    text-align: center;
    border: 1px solid black;
    border-radius: 8%;
    padding: 10px;
}



.form-info{
    flex: 1 2 75%;
    padding-right: 20px;
    padding-top: 100px;
    padding-bottom: 123px;
}

.fa-arrow-circle-down{
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    flex:0 1 25%;
    margin: 20px;
    padding-top: 100px;
}

.label-checkbox{
    display: none;
    margin: 10px;
}

.form-p{
    font-size: 1.6rem;
    font-family: $primaryFont;
}

#item{
    margin: 20px 0px;
    padding: 10px 30px;
}

input::placeholder{
    text-align: center;
    font-size: 1.9rem;
    font-family: $primaryFont;
}


#submit{
    padding: 8px;
    font-size: 1.2rem;
    background: #39aea9;
    border: none;
    text-transform: uppercase;
}

input[type="checkbox"]{
    display: none;
}

.list-button{
    align-self: baseline;
}

.list-p{
    font-size: 1.8rem;
    font-family: $primaryFont;
}

.items-content{
    // border: 1px solid black;
    margin: 10px;
}

.checkbox-label,
.packedItem-li{
    font-family: $primaryFont;
    font-size: 1.5rem;
}

.packedItem-li{
    padding: 0px;
}

ul{
    padding: 0;
    list-style: none;
}

.list-button{
    background: #39aea9;
    border: none;
    margin: 20px;
    width: calc(80% - 40px);
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
}