@media(max-width:560px){
    .wrapper{
        max-width: 460px;
    }

    .header-p{
        font-size: 1rem;
    }

    .fa-suitcase{
        margin: 15px;
    }

   .form-p{
       font-size: 1.2rem;
   }

   form{
       margin: 10px auto;
   }

}