article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  width: 1180px;
  margin: 0 auto;
  border: 1px solid black; }

html {
  font-size: 72.5%;
  color: black; }

h1 {
  font-size: 4rem;
  font-family: "Yeseva One", serif; }

.header-p {
  font-size: 1.7rem;
  font-weight: 400px;
  font-family: "Montserrat", sans-serif; }

h2 {
  font-size: 2.5rem;
  font-family: "Yeseva One", serif;
  margin: 0; }

header {
  background: #a2d5ab; }

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 20px; }

.fa-suitcase {
  font-size: 8rem;
  margin: 25px; }

.main-container {
  height: 75vh;
  background: #5b5151;
  display: flex; }

.list-container {
  flex: 1 0 50%;
  display: flex; }

.form-container {
  background: #e5efc1;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  flex: 0 0 50%; }

.item-list,
.packed-items_container {
  margin: 20px;
  width: calc(50% - 40px);
  text-align: center;
  border: 1px solid black;
  border-radius: 5%;
  padding: 10px; }

.form-info {
  flex: 1 2 75%;
  padding-right: 20px;
  padding-top: 100px; }

form {
  display: flex;
  flex-direction: column;
  flex: 0 1 25%;
  margin: 20px;
  padding-top: 100px; }

.label-checkbox {
  display: none;
  margin: 10px; }

.form-p {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif; }

#item {
  margin: 20px 0px;
  padding: 10px 30px; }

input::placeholder {
  text-align: center;
  font-size: 1.9rem;
  font-family: "Montserrat", sans-serif; }

#submit {
  padding: 8px;
  font-size: 1.2rem;
  background: #39aea9;
  border: none;
  text-transform: uppercase; }

input[type="checkbox"] {
  display: none; }

.list-button {
  align-self: baseline; }

.list-p {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif; }

footer {
  background: chartreuse; }
  footer p {
    margin: 0; }
